header {
  width: 100%;
  text-align: center;
  background-color: #AAAAAA;
}

h1 {
  font-size: 60px;
  font-weight: bolder;
}

main {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "sidebar content";
}

aside {
  grid-area: sidebar;
}

.search_history_container {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid black;
}

h3 {
  font-weight: bolder;
}

.search_history_container li {
  margin-top: 5px;
}

.search_history_container a {
  color: #7A0019;
  text-decoration: none;
}

article {
  grid-area: content;
}

form button {
  display: block;
}

h2 {
  font-size: 40px;
  font-weight: bolder;
}

.big_forecast {
  width: 100%;
  padding: 10px;
}

.big_forecast .date_val {
  font-size: 30px;
  font-weight: bolder;
}

.big_forecast .forecast_detail {
  font-size: 20px;
}

.small_forecast_container {
  display: grid;
  align-content: space-evenly;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  padding: 10px;
}

.small_forecast {
  border: 1px solid black;
  padding: 10px;
}

.small_forecast .date_val {
  font-size: 15px;
  font-weight: bolder;
}

.small_forecast .forecast_detail {
  font-size: 15px;
}

footer {
  text-align: center;
  width: 100%;
  background-color: #7A0019;
  color: #FFCC33;
}
