header {
  width: 100%;
  text-align: center;
  background-color: blue;
}

h1 {
  font-size: 60px;
  font-weight: bolder;
}

section {
  background-color: red;
}

.form {
  width: 40%;
  margin: 0 auto;
  background-color: green;
}

article {
  background-color: yellow;
}

.big_forecast {
  background-color: purple;
  width: 100%;
  padding: 10px;
}

.big_forecast .date_val {
  font-size: 30px;
  font-weight: bolder;
}

.big_forecast .forecast_detail {
  font-size: 20px;
}

.small_forecast_container {
  display: grid;
  align-content: space-evenly;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  padding: 10px;
}

.small_forecast {
  /* background-color: brown; */
  border: 1px solid black;
  padding: 10px;
}

.small_forecast .date_val {
  font-size: 15px;
  font-weight: bolder;
}

.small_forecast .forecast_detail {
  font-size: 15px;
}
