header {
  width: 100%;
  text-align: center;
  background-color: #AAAAAA;
}

h1 {
  font-size: 60px;
  font-weight: bolder;
}

main {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "sidebar content";
}

section {
  grid-area: sidebar;
}

article {
  grid-area: content;
}

button {
  display: block;
}

h2 {
  font-size: 40px;
  font-weight: bolder;
}

.big_forecast {
  width: 100%;
  padding: 10px;
}

.big_forecast .date_val {
  font-size: 30px;
  font-weight: bolder;
}

.big_forecast .forecast_detail {
  font-size: 20px;
}

.small_forecast_container {
  display: grid;
  align-content: space-evenly;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  padding: 10px;
}

.small_forecast {
  border: 1px solid black;
  padding: 10px;
}

.small_forecast .date_val {
  font-size: 15px;
  font-weight: bolder;
}

.small_forecast .forecast_detail {
  font-size: 15px;
}
